/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #2ba2d4;
    color:wheat;
    text-align: center;
    padding: 20px;
    font-size: xx-large;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
#about{
    background-color:wheat;
}
#quotes{
    background-color: wheat;

}
#activities{
    background-color: wheat;
}
#contact{
    background-color: wheat;
}
.img{
    pos
}